= bootstrap_form_for item, html: {multipart: true} do |f|

  = f.file_field :image, as: :file
  = f.text_field :ref, label: 'Reference'
  = f.text_field :location
  = f.text_area :description

  - if params[:action] == 'edit'
    = f.submit 'Update', class: 'btn btn-primary'
    = link_to 'Delete', item_path(item), method: :delete, data: {confirm: 'Are you sure ?'}, class: 'btn btn-danger'
  - else
    = f.submit 'Save', class: 'btn btn-primary'
