!!!
%html.no-js
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Legacy
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head) if content_for?(:head)
  %body{class: "layout-fluid #{'with-toolbar' if content_for? :toolbar}"}
    %header
      = render 'layouts/navigation'
      = render 'layouts/toolbar' if content_for? :toolbar
    %main
      = render 'layouts/messages'
      = yield
    %footer
      = render 'layouts/footer'
